* {
  user-select: none;
  color: #e8fafa;
  box-sizing: border-box;
}

.agentMenu {
  height: 85vh;
  width: 15vw;
  border: 2px solid rgba(128, 128, 128, 0);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 20px;
  flex: 1/3;
}

.agentMenu::-webkit-scrollbar {
  display: none;
}

.agentContainer {
  display: flex;
  width: 100vw;
  height: 85vh;
}
