.agentSelector {
  font-family: "VALORANT", sans-serif;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.agentSelector:hover {
  transform: translateX(10px);
  border-left: 2px solid #61676b;
  cursor: pointer;
}

.agentIcon {
  width: 3em;
  margin-right: 0.5em;
  background-color: #456362;
  border: 2px solid #8ccac3;
}

.agentIconContainer {
  padding-top: 5px;
  padding-left: 5px;
}

span {
  margin-right: 0.5em;
}

h2 {
  font-size: 1em;
  display: inline-block;
  padding-right: 5px;
}

.agentIcon.selected {
  border: 2px solid #e8e5d2;
}

.agentSelector.selected {
  transform: translateX(10px);
  border-left: 2px solid #e8e5d2;
  color: #ff4655;
}