* {
  user-select: none;
  color: #e8fafa;
}

.agentList {
  height: 80vh;
  width: 15vw;
  /* border: 2px solid grey;  */
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.agentList::-webkit-scrollbar {
  display: none;
}


