* {
  user-select: none;
  color: #e8fafa;
}

.valorant-agents {
  display: flex;
  top: 20px;
  height: 85vh;
  width: 85vw;
  border: 2px solid rgba(128, 128, 128, 0);
  align-items: center;
  justify-content: center;
}

.valorant-agents-img {
  height: 90%;
  animation: fadeInImage 2s ease-in-out forwards;
}

@keyframes fadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.agentDetails {
  height: 85vh;
  width: 85vw;
  padding-left: 30px;
  margin-left: 20px;
  border: 2px solid rgba(128, 128, 128, 0);
  border-left: 2px solid white;
  font-family: DINNextW1G, arial, georgia, sans-serif;
}

.main-info {
  display: flex;
}

.biography {
  border: 2px solid rgba(128, 128, 128, 0);
  width: 25%;
}

.biography > p:nth-child(3) {
  opacity: 0.7;
  font-weight: bold;
}

.data {
  border: 2px solid rgba(128, 128, 128, 0);
  padding-left: 20px;
  width: 25%;
}

.data > p {
  position: relative;
  top: 30px;
}

.data > p:nth-child(1) {
  opacity: 0.7;
  font-weight: bold;
}

.data > p:nth-child(5) {
  opacity: 0.7;
  font-weight: bold;
}

.skills {
  margin-top: 40px;
  border: 2px solid rgba(255, 255, 0, 0);
  display: flex;
  flex-direction: column;
}

.skills-icons {
  display: flex;
  gap: 50px;
  border: 2px solid rgba(0, 128, 0, 0);
  width: 35%;
  margin-bottom: 40px;
}

.skill-icon-container {
  border: 2px solid #bfc8d7;
  padding: 10px;
}

.skill-icon {
  /* border: 2px solid grey; */
  width: 50px;
  height: 50px;
}

.agent-image {
  border: 2px solid rgba(128, 128, 128, 0);
}

h1 {
  color: #ebeeb2;
}
