* {
  user-select: none;
  color: #e8fafa;
}

.valorant-agents {
  display: flex;
  top: 20px;
  height: 85vh;
  width: 85vw;
  border: 2px solid rgba(128, 128, 128, 0);
  align-items: center;
  justify-content: center;
}

.valorant-agents-img {
  height: 90%;
  animation: fadeInImage 2s ease-in-out forwards;
}

@keyframes fadeInImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.agentDetails {
  height: 85vh;
  width: 85vw;
  padding-left: 30px;
  margin-left: 20px;
  border: 2px solid rgba(128, 128, 128, 0);
  border-left: 2px solid white;
  font-family: DINNextW1G, arial, georgia, sans-serif;
  display: flex;
  /* animation: fadeInImage 2s ease-in-out forwards; */
}

.left-part {
  width: 70%;
}

.main-info {
  display: flex;
}

.biography {
  border: 2px solid rgba(128, 128, 128, 0);
  width: 50%;
}

.biography > p:nth-child(3) {
  opacity: 0.7;
  font-weight: bold;
}

.data {
  border: 2px solid rgba(128, 128, 128, 0);
  padding-left: 10px;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* gap: 20px; */
}

.data-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-wrap: balance;
}

.data-left > p {
  border: 2px solid rgba(128, 128, 128, 0);
  width: 100%;
}

.data-left > p:nth-child(1) {
  opacity: 0.7;
  font-weight: bold;
}

.data-left > p:nth-child(2) {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.data-left > p:nth-child(3) {
  opacity: 0.7;
  font-weight: bold;
}

.data-left > p:nth-child(4) {
  font-weight: bold;
}

.data-right {
  width: 55%;
  border: 2px solid rgba(128, 128, 128, 0);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.data-right > p {
  /* opacity: 0.9; */
  padding-right: 20px;
  text-wrap: pretty;
}

.role-type {
  color: #ebeeb2;
}

.role-icon {
  width: 17px;
  height: 17px;
  position: relative;
}

.skills {
  margin-top: 40px;
  border: 2px solid rgba(255, 255, 0, 0);
  display: flex;
  flex-direction: column;
}

.skills-icons {
  display: flex;
  gap: 50px;
  border: 2px solid rgba(0, 128, 0, 0);
  width: 100%;
  margin-bottom: 40px;
}

.skill-icon-container {
  border: 2px solid #bfc8d7;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  opacity: 0.8;
}

.skill-icon-container:hover {
  transform: scale(1.1);
}

.skill-icon-container:hover:after {
  content: "";
  position: absolute;
  left: -50%;
  width: 200%;
  height: 200%;
  border-radius: 40%;
  background-color: #ff4655;
  animation: fill 3s ease-in-out;
  top: -10%;
  z-index: -1;
}

@keyframes fill {
  from {
    top: 200%;
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    top: -10%;
    transform: translateY(0%) rotate(360deg);
  }
}

.skill-selected {
  background-color: #ff4655;
  transform: scale(1.1);
  opacity: 1;
}

.skill-icon {
  /* border: 2px solid rgba(0, 128, 0, 1); */
  width: 50px;
  height: 50px;
}

h1 {
  color: #ebeeb2;
}

.skill-info-container {
  border: 2px solid rgba(128, 128, 128, 0);
  width: 70%;
  position: relative;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
}

.skill-name {
  color: #ebeeb2;
}

.right-part {
  display: flex;
  width: 30%;
  border: 2px solid rgba(128, 128, 128, 0);
  height: 100%;
  justify-content: center;
  align-items: center;
}

.agent-image-container {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(128, 128, 128, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.agent-image {
  width: 100%;
  height: 100%;
  animation: fadeInImage 2s ease-in-out forwards;
}

.skill-video {
  border: 2px solid rgba(128, 128, 128, 0);
}