* {
  user-select: none;
  color: #e8fafa;
}

.footer {
  padding: 20px;
  width: 100vw;
  font-family: "VALORANT", sans-serif;
  opacity: 0.5;
  border: 2px solid grey;
  /* height: 2vh; */
  /* display: flex;
  align-items: center; */
}

/* p {
  justify-content: center;
  align-items: center;
  display: inline-block;
} */

/* .logo {
  width: 3em;
  margin-left: 3em;
} */
