* {
  user-select: none;
  color: #e8fafa;
}

.header {
  padding-top: 10px;
  width: 100vw;
  font-family: "VALORANT", sans-serif;
  border: 2px solid rgba(128, 128, 128, 0);
  text-align: left;
}

.header-content {
  display: inline-block;
  font-size: 2rem;
  position: relative;
  right: 10px;
}

.logo {
  width: 3em;
  margin-left: 1.5em;
}
