* {
  user-select: none;
  color: #e8fafa;
}

.header {
  border: 2px solid rgba(128, 128, 128, 1);
  width: 100vw;
  height: 5%;
  font-family: "VALORANT", sans-serif;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
}

.header-content {
  display: inline-block;
  font-size: 1.4em;
  position: relative;
  right: 10px;
}

.logo {
  width: 1.5em;
}
